#configBackground{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 10px;
    border-bottom: 1px solid black;
    background-color: rgba(88, 88, 88, 0.762);
}

#divBackground{
    width: 350px;
    height: 200px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#configBackgroundInputs{
    display: flex;
    flex-direction: column;
}

#configBackgroundInputs input{
    margin-bottom: 15px;
}


