#creat{
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
}

#creatContainer{
    width: 800px;
}

.jodit-status-bar__item>span{
    color: black;
}