*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

body{
    display: flex;
    
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#main{
    width: 100vw;
    height: 100vh;
    background-image: url("https://i.pinimg.com/originals/73/f7/85/73f7853326ee1960d3a8b79080afc576.png");
    background-position: center center;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    grid-gap: 20px;
    overflow: auto;
    padding-bottom: 200px;
}
#home{
    height: 100%;
    background-color: rgb(32, 32, 32);
}
.content{
    box-sizing: border-box;
    width: calc(100% - 100px);
    height: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    padding-bottom: 70px;
    grid-gap: 20px;
    overflow: auto;
}

.selectCustom{
    width: 500px;
}

.btnAdmin{
    padding: 10px;
    border-radius: 50px;
    border: 1px solid black;
}

.btnAdmin a{
    color: black;
    text-decoration: none;
}
#contentModalGenres{
    background-color: white;
    width: 30%;
    height: 60%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.615);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contentModalGenres ul{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contentModalGenres li{
    background-color: grey;
    width: 90%;
    margin-bottom: 5px;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
    text-shadow: 0px 0px 1px black;
    cursor: context-menu;
}

@media (max-width: 1300px) {
    #main{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px) {
    #main{
        grid-template-columns: 1fr ;
    }
}