.navbar{
    float: left;
    color: rgb(210, 210, 210);
    border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    text-shadow: 1px 1px 0px black;
    font-size: 20px;
}

.navbar>ul{
    display: flex;
    flex-direction: column;
    max-width: 100px;
    position: relative;
    list-style: none;
    background-color: #1d1e1f;
    height: calc(100vh - 48px);
}

.navbar>ul>li{
    padding: 15px 20px;
    cursor: context-menu;
}
