.navbar{
    float: left;
    color: rgb(210, 210, 210);
    border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
}

.navbar>ul{
    display: flex;
    flex-direction: column;
    max-width: 150px;
    position: relative;
    list-style: none;
    padding-top: 20px;
    background-color: #1d1e1f;
    height: calc(100vh - 48px);
    border-right: 1px solid black;
}

.navbar>ul>li{
    margin: 15px 20px;
}
