#reading{
    padding: 50px 100px;
    width: 100vw;
    background-size: cover;
    height: 100vh;
}

#reading h1{
    text-shadow: 0px 0px 2px white;
    background-color: rgba(128, 128, 128, 0.515);
    padding-left: 20px;
}

#reading h2{
    margin-top: 20px;
    margin-bottom: 10px;
}

#reading p{
    text-indent: 15px;
}
#reading div.readText{
    width: 100%;
    height: 30vh;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.477);
    margin-bottom: 10px;
    padding: 5px 20px;
    background-color: rgba(255, 255, 255, 0.843);
    transition: 1s;
    overflow: auto;
}

#reading div.readText:hover{
    height: 40vh;
}